
    td.menu:hover{background-color:orange;}
body{background:url(nbg.jpg)
}
table.layout
{
     
  border-collapse: collapse;
  width:50%;
  text-align: center;
  background: rgb(135,248,160)
}
h1{text-align:center;}
.leftimg {
    float:left; 
    margin: 4px 4px 4px 10;}